<!DOCTYPE html>
<html>
  <head>
    <title>Autore</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

    <h1>Dettagli autore</h1>
    <div th:if="${author}">
		<div th:text="${author.name}+ ' ' + ${author.surname}"></div></div>
	<div th:text="'Nascita: '+${#temporals.format(author.dayOfBirth, 'dd/MM/yyyy')}"></div>
	<div th:if="${author.dayOfDeath}">
		<div th:text="'Morte: '+${#temporals.format(author.dayOfDeath, 'dd/MM/yyyy')}"></div></div>
    </div>
    <div th:unless="${author}">Non esiste</div>
  </body>
</html>
