<!DOCTYPE html>
<html>

<head>
	<title>Libri</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<h1>Libri</h1>
	<div th:if="${authors==null || authors.isEmpty()}">Non ci sono autori nel sistema</div>
	<ul>
		<li th:each="author : ${authors}">
			<a th:href="@{'/author' + '/' + ${author.id}}"
				th:text="${author.name} + ' ' + ${author.surname}">Up! (2000)</a>
		</li>
	</ul>
</body>

</html>